.TitleScreen{
    position: relative;
    margin-left: 100px;
    margin-right:100px;
    padding-left: 20px;
    text-align: center;
    color:white;
    font-family : Helvetica;
    background-color: black; 
    font-size: 10vw;
    
}

.ButtonLayout{
    border : 4px;
    width : 10px;
    border-spacing : 10px;
    margin-left:auto; 
    margin-right:auto;
}



